@charset "UTF-8";
.category .topSearch {
  background-image: url("/assets/images/slider/1.jpg");
  background-color: #aa2833;
  background-blend-mode: overlay;
  height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%; }
  .category .topSearch .searchbar {
    height: 75px; }
    .category .topSearch .searchbar .searchbar--input {
      border-right: 1px solid #939393 !important; }
    .category .topSearch .searchbar .searchBar--select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: 0.6s; }
    .category .topSearch .searchbar .searchbar--submit {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
.category .btn-filter-show {
  display: none; }
.category .filter-box {
  height: 300px; }
  .category .filter-box .select-filter {
    box-shadow: 0px 3px 7px 0px #0000009e; }
.category input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em; }
.category input[type=checkbox] {
  display: none; }
.category input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0em;
  padding-bottom: 1.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s; }
.category input[type=checkbox] + label:active:before {
  transform: scale(0); }
.category input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff; }
.category input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa; }
.category input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb; }
.category .price-slider {
    /* Ion.RangeSlider
// css version 2.0.3
// ├é┬⌐ 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/
  /* =====================================================================================================================
  // RangeSlider */
  /* Ion.RangeSlider, Simple Skin
  // css version 2.0.3
  // ├é┬⌐ Denis Ineshin, 2014    https://github.com/IonDen
  // ├é┬⌐ guybowden, 2014        https://github.com/guybowden
  // ===================================================================================================================*/
  /* =====================================================================================================================
  // Skin details */ }
  .category .price-slider .irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .category .price-slider .irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important; }
  .category .price-slider .irs-line-left, .category .price-slider .irs-line-mid, .category .price-slider .irs-line-right {
    position: absolute;
    display: block;
    top: 0; }
  .category .price-slider .irs-line-left {
    left: 0;
    width: 11%; }
  .category .price-slider .irs-line-mid {
    left: 9%;
    width: 82%; }
  .category .price-slider .irs-line-right {
    right: 0;
    width: 11%; }
  .category .price-slider .irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0; }
  .category .price-slider .irs-bar-edge {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }
  .category .price-slider .irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0; }
  .category .price-slider .irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1; }
  .category .price-slider .irs-slider.type_last {
    z-index: 2; }
  .category .price-slider .irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default; }
  .category .price-slider .irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default; }
  .category .price-slider .irs-from, .category .price-slider .irs-to, .category .price-slider .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap; }
  .category .price-slider .irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; }
  .category .price-slider .irs-with-grid .irs-grid {
    display: block; }
  .category .price-slider .irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000; }
  .category .price-slider .irs-grid-pol.small {
    height: 4px; }
  .category .price-slider .irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000; }
  .category .price-slider .irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0, 0, 0, 0);
    z-index: 2; }
  .category .price-slider .lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed; }
  .category .price-slider .irs-disabled {
    opacity: 0.4; }
  .category .price-slider .irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important; }
  .category .price-slider .irs {
    height: 25px; }
  .category .price-slider .irs-with-grid {
    height: 75px; }
  .category .price-slider .irs-line {
    height: 10px;
    top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%);
    /* W3C */
    border-radius: 16px;
    -moz-border-radius: 16px; }
  .category .price-slider .irs-line-left {
    height: 8px; }
  .category .price-slider .irs-line-mid {
    height: 8px; }
  .category .price-slider .irs-line-right {
    height: 8px; }
  .category .price-slider .irs-bar {
    height: 10px;
    top: 33px;
    border-top: 1px solid #bc3939;
    border-bottom: 1px solid #bc3939;
    background: #bc3939;
    background: linear-gradient(to top, #bc3939 0%, #bc3939);
    /* W3C */ }
  .category .price-slider .irs-bar-edge {
    height: 10px;
    top: 33px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;
    background: #bc3939;
    background: linear-gradient(to top, #bc3939 0%, #bc3939 100%);
    /* W3C */
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px; }
  .category .price-slider .irs-shadow {
    height: 2px;
    top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px; }
  .category .price-slider .lt-ie9 .irs-shadow {
    filter: alpha(opacity=30); }
  .category .price-slider .irs-slider {
    top: 25px;
    width: 27px;
    height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, white 0%, gainsboro 20%, white 100%);
    /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer; }
  .category .price-slider .irs-slider.state_hover, .category .price-slider .irs-slider:hover {
    background: #FFF; }
  .category .price-slider .irs-min, .category .price-slider .irs-max {
    color: #333;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -moz-border-radius: 3px; }
  .category .price-slider .lt-ie9 .irs-min, .category .price-slider .lt-ie9 .irs-max {
    background: #ccc; }
  .category .price-slider .irs-from, .category .price-slider .irs-to, .category .price-slider .irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #bc3939;
    border-radius: 3px;
    -moz-border-radius: 3px; }
  .category .price-slider .lt-ie9 .irs-from, .category .price-slider .lt-ie9 .irs-to, .category .price-slider .lt-ie9 .irs-single {
    background: #999; }
  .category .price-slider .irs-grid {
    height: 27px; }
  .category .price-slider .irs-grid-pol {
    opacity: 0.5;
    background: #bc3939; }
  .category .price-slider .irs-grid-pol.small {
    background: #999; }
  .category .price-slider .irs-grid-text {
    bottom: 5px;
    color: #99a4ac; }
.category .img-category {
  height: 230px; }
.category #pag-ination .arr-cover {
  width: 1px;
  font-size: 20px;
  text-align: center; }
.category #pag-ination .arrow i {
  display: block; }
.category #pag-ination .arrow:hover {
  cursor: pointer; }
.category #pag-ination #pg-links {
  display: table;
  width: 100%; }
  .category #pag-ination #pg-links .td {
    display: table-cell;
    vertical-align: middle; }
.category #pag-ination .pg-link {
  transition: 0.2s ease background-color, 0.3s ease color; }
  .category #pag-ination .pg-link span {
    position: relative;
    z-index: 2; }
  .category #pag-ination .pg-link:hover {
    background-color: #d92121;
    color: white; }
.category .border-rounded-right-0 {
  border-bottom-right-radius: 0; }

@media screen and (max-width: 992px) {
  .category .topSearch {
    height: 250px !important; }
    .category .topSearch .searchbar {
      height: 55px !important; }
  .category figure .img-category {
    height: 200px !important; } }
@media screen and (max-width: 768px) {
  .bannerOffer h3 {
    font-size: 1.3em !important; }

  .btn-filter-show {
    right: 0;
    display: block !important;
    border-top-left-radius: 37PX;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 8px; }

  .category .topSearch {
    height: 220px !important; }
    .category .topSearch .searchbar {
      height: 45px !important; }

  .filter-box {
    z-index: 1;
    position: absolute;
    display: none; } }
@media screen and (max-width: 576px) {
  .bannerOffer h3 {
    font-size: 1.1em !important; }

  .category .topSearch {
    height: 200px !important;
    font-size: 13px; }
    .category .topSearch .searchbar {
      height: 35px !important; }
  .category figure .img-category {
    height: 140px !important; } }
@media screen and (max-width: 456px) {
  .bannerOffer h3 {
    font-size: 0.9em !important; } }

/*# sourceMappingURL=category.css.map */
